.navbar a{
    color: #7c0a1f;
    margin-right: 50px;
}
.navbar a:hover{
    color: #f7a6a6;
}
.header{
    background: url("header.jpg") no-repeat center center fixed;
    background-size: contain;
    width: 100%;
    min-height: 600px;
}
.rental .shop .service .about-content{
    position: relative;
}
.content{
    position: absolute;
    bottom: 50%;
    right: 20%;
}
h1{
    color: #7c0a1f !important;
}
.about, .offer{
    width: 100%;
}
#about{
    font-size: 20px;
}
.row{
    margin: 0 !important;
}
.content h1{
    color: black !important;
}
.offer{
    opacity: 0.5;
    margin-top: 50px;
}
.offer:hover{
    opacity: 1;
}
.description-offer{
    border: solid 1px #808080cc;
    border-radius: 6px;
    margin-top: 10px;
    padding: 5px;
    min-height: 80px;
    margin-bottom: 50px;
}
footer{
    background: #f8f9fa!important;
    color: #7c0a1f !important;
}
h2{
    text-align: center;
    margin-bottom: 40px !important;
}
.hours, .contact{
    margin-top: 60px;
}
.hours ul{
    list-style-type: none;
}
.contact{
    text-align: center;
}
